# CMake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Testing/

# Program logs
*.log

# Binaries and libs
bin/
lib/

# Sublime Project Files
*.sublime-project
*.sublime-workspace

# Local backup files
backups/

# Local credencial info
login.info
