[submodule "common/external/cereal"]
	path = common/external/cereal
	url = https://github.com/USCiLab/cereal
[submodule "common/external/tmxloader"]
	path = common/external/tmxloader
	url = https://github.com/fallahn/sfml-tmxloader.git
    ignore = dirty
[submodule "common/external/soci"]
	path = common/external/soci
	url = https://github.com/SOCI/soci
    ignore = dirty
